    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl text-center">
            <small>&copy; 2024 - Meu Bot Scraper</small>
        </div>
    </footer>
</div> <!-- Fecha a div .page -->

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
</body>
</html>
